*

!.gitignore
!.gitmodules

# list of symbolic links in ~ directory
!dotfile-symlinks

!.*rc
!*.sh
!*.py
.pypirc

!/.config
!/.config/**
/.config/gcloud
/.config/gcloud/**
/.config/yarn/global/node_modules
/.config/yarn/global/node_modules/**
/.config/mpv/watch_later/
/.config/thefuck/__pycache__/
realwork.txt

# iTerm2 settings
!iTerm2/**
!iTerm2/

# IntelliJ IDEA Settings
!Library/**
!Library/

# My Oh-My-Zsh fork
!.oh-my-zsh

# My git templates / hooks
!.git_template
!.git_template/**
.git_template/.*

# Nano syntax highlighting
!.nano/
!.nano/*.nanorc

# Vim stuff
!.vimrc
!.vim/

# Not important?
.config/configstore/nodemon.json
.config/configstore/update-notifier-npm.json
.config/copyq/copyq_geometry.ini
.config/copyq/copyq_tab_JmNsaXBib2FyZA==.dat
.config/copyq/copyq_tabs.ini
.config/thefuck/__pycache__/settings.cpython-37.pyc
