[user]
    email = 3995223+maricn@users.noreply.github.com
    name = Nikola Marić
[hub]
    protocol = https
[core]
    editor = nvim
    pager = delta
    excludesFile = ~/.dotfiles/.gitignore_global

[delta]
    plus-style = syntax "#012800"
    minus-style = normal "#340001"
    syntax-theme = Monokai Extended
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
    colorMoved = default

[pull]
    rebase = false
[push]
    autoSetupRemote = false     # use gpsu to --set-upstream
[alias]
    project-summary = !which onefetch && onefetch
[init]
    defaultBranch = main
    templatedir = ~/.git_template

[diff "odt"]
    textconv = odt2txt
    binary = true
[diff "word"]
    textconv = catdoc
    binary = true
[diff "xls"]
    textconv = xls2csv
    binary = true
[diff "ppt"]
    textconv = catppt
    binary = true

[includeIf "gitdir:~/Workspace/"]
    path = ~/Workspace/.gitconfig
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
