# Start configuration added by Zim install {{{
#
# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.
#

#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
#zmodule git - source .dotfiles/zsh/git.plugin.zsh from .zshrc
#zmodule 'wfxr/forgit'
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

#
# Prompt
#

# Exposes to prompts how long the last command took to execute, used by asciiship.
# zmodule duration-info
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
# zmodule asciiship

# Exposes git repository status information to prompts, used by asciiship.
#zmodule git-info
# Using my modified version that does branch name shortening
zmodule maricn/git-info

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

#
# Theme
#
# Needed to show the current working dir
zmodule prompt-pwd
# Lambda left, workdir+gitbranch right
zmodule minimal
# Arrow+workdir+gitbranch+checkmark left
# zmodule gitster

#
# Modules that must be initialized last
#

# Aliases for ls, integrates with lsd
zmodule zpm-zsh/ls

# Fish-like syntax highlighting for Zsh.
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
#  must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

# }}} End configuration added by Zim install

