@define-color gruvbox-bg #32302f;
@define-color gruvbox-fg #bdae93;
@define-color gruvbox-battery-charge #689d6a;
@define-color gruvbox-urgent #cc241d;
@define-color gruvbox-disabled #7f6f64;
@define-color gruvbox-focused #3c3836;
@define-color gruvbox-workspace #282828;

@define-color lila-bg #995588;
@define-color lila-fg #fdd9dd;
@define-color lila-urgent #ff77aa;
@define-color lila-disabled #906f84;
@define-color lila-focused #da8291;
@define-color lila-workspace #420042;

@define-color battery-charge-color  @gruvbox-battery-charge;
@define-color bg-color              @gruvbox-bg;
@define-color fg-color              @gruvbox-fg;
@define-color bg-urgent-color       @gruvbox-urgent;
@define-color bg-disabled-color     @gruvbox-disabled;
@define-color bg-focused-color      @gruvbox-focused;
@define-color bg-workspace-color    @gruvbox-workspace;

* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
}

window#waybar {
  background-color: @bg-color;
  color: @fg-color;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 4px;
  background-color: @bg-workspace-color;
  color: #665c54;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: @bg-disabled-color;
  color: @bg-workspace-color;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: @bg-focused-color;
  color: #ebdbb2;
}

#workspaces button.urgent {
  background-color: @bg-urgent-color;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#disk,
#mpd {
  padding: 0 12px;
  color: @fg-color;
  border-left: 2px solid @bg-focused-color;
}

#battery.charging {
  color: @battery-charge-color;
}

@keyframes blink {
  to {
    color: @bg-focused-color;
  }
}
.blinking,
#temperature.critical,
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: @bg-urgent-color;
}

#network.disconnected {
  color: @bg-disabled-color;
}

#pulseaudio.muted {
  color: @bg-disabled-color;
}

#custom-media {
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: @battery-charge-color;
}

#custom-media.custom-vlc {
  color: #d79921;
}

#temperature.critical {
  color: #fb4934;
}

#idle_inhibitor {
  color: @bg-disabled-color;
}

#idle_inhibitor.activated {
  color: #98971a;
}

#mpd {
  background-color: @bg-color;
  color: @battery-charge-color;
}

#mpd.disconnected {
  background-color: @bg-color;
  color: @bg-urgent-color;
}

#mpd.stopped {
  background-color: @bg-color;
  color: @bg-disabled-color;
}

#mpd.paused {
  background-color: @bg-color;
}
