ACTION=="add" \
, ATTRS{idProduct}=="c52f" \
, ATTRS{idVendor}=="046d" \
# , ENV{DISPLAY}=":0" \
# , ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority" \
, RUN+="sudo systemctl restart udevmon.service"
