[user]
    name = CHANGE_ME
    email = CHANGE_ME
[hub]
    protocol = https
[core]
    editor = nvim
    pager = delta
    excludesFile = ~/.config/git/.gitignore_global
[credential]
	helper = store

# Use hasconfig to check if the remote URL is Github.
[includeIf "hasconfig:remote.*.url:https://*.github.com/**"]
    path = ~/.config/git/users/github-maricn
[includeIf "hasconfig:remote.*.url:git@*.github.com:*/**"]
    path = ~/.config/git/users/github-maricn
# Use workspace gitconfig for work
[includeIf "gitdir:~/.ansible/"]
    path = ~/Workspace/.gitconfig
[includeIf "gitdir:~/Workspace/"]
    path = ~/Workspace/.gitconfig
# Use hasconfig to check if the remote URL is Codeberg
[includeIf "hasconfig:remote.*.url:https://*.codeberg.org/**"]
    path = ~/.config/git/users/codeberg-maricn
[includeIf "hasconfig:remote.*.url:git@*.codeberg.org:*/**"]
    path = ~/.config/git/users/codeberg-maricn

[delta]
    plus-style = syntax "#012800"
    minus-style = normal "#340001"
    syntax-theme = Monokai Extended
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = true       # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
    ; https://blog.gitbutler.com/how-git-core-devs-configure-git/ said plain colorMoved = default
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[pull]
    rebase = false
[push]
    autoSetupRemote = false     # use gpsu to --set-upstream
    default = simple
    followTags = true
[alias]
    project-summary = !which onefetch && onefetch
[init]
    defaultBranch = main
    templatedir = ~/.git_template

[diff "odt"]
    textconv = odt2txt
    binary = true
[diff "word"]
    textconv = catdoc
    binary = true
[diff "xls"]
    textconv = xls2csv
    binary = true
[diff "ppt"]
    textconv = catppt
    binary = true


# https://blog.gitbutler.com/how-git-core-devs-configure-git/

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        # fsmonitor = true
        # untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        # 2025-07-24 - could be this merge conflict resolution failed for one case
        # conflictstyle = zdiff3 
[pull]
        # rebase = true
